In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

# Load 
upload 12 months of cycling data from 07-2020 to 06-2021

In [2]:
#upload 12 months of cycling data 
df_1 = pd.read_csv('Cyclistic 12 months data/202007-divvy-tripdata.csv')
df_2 = pd.read_csv('Cyclistic 12 months data/202008-divvy-tripdata.csv')
df_3 = pd.read_csv('Cyclistic 12 months data/202009-divvy-tripdata.csv')
df_4 = pd.read_csv('Cyclistic 12 months data/202010-divvy-tripdata.csv')
df_5 = pd.read_csv('Cyclistic 12 months data/202011-divvy-tripdata.csv')
df_6 = pd.read_csv('Cyclistic 12 months data/202012-divvy-tripdata.csv')
df_7 = pd.read_csv('Cyclistic 12 months data/202101-divvy-tripdata.csv')
df_8 = pd.read_csv('Cyclistic 12 months data/202102-divvy-tripdata.csv')
df_9 = pd.read_csv('Cyclistic 12 months data/202103-divvy-tripdata.csv')
df_10 = pd.read_csv('Cyclistic 12 months data/202104-divvy-tripdata.csv')
df_11 = pd.read_csv('Cyclistic 12 months data/202105-divvy-tripdata.csv')
df_12 = pd.read_csv('Cyclistic 12 months data/202106-divvy-tripdata.csv')

# Cleaning Phase 

- dropping duplicates in all dataframes 
- convert 'started_at' and 'ended_at' to appropriate datetime format
- calculate ride length and delete ride length which are less than 00:00:00 because it's impossible to have
a negative ride length 
- Change day of week to numeric variables. Monday = 0 and Sunday = 6

In [3]:
#dropping duplicates 
df_1.drop_duplicates()
df_2.drop_duplicates()
df_3.drop_duplicates()
df_4.drop_duplicates()
df_5.drop_duplicates()
df_6.drop_duplicates()
df_7.drop_duplicates()
df_8.drop_duplicates()
df_9.drop_duplicates()
df_10.drop_duplicates()
df_11.drop_duplicates()
df_12.drop_duplicates()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.600000,member
1,06048DCFC8520CAF,electric_bike,2021-06-04 11:18:02,2021-06-04 11:24:19,NaN,NaN,NaN,NaN,41.790000,-87.590000,41.800000,-87.600000,member
2,9598066F68045DF2,electric_bike,2021-06-04 09:49:35,2021-06-04 09:55:34,NaN,NaN,NaN,NaN,41.800000,-87.600000,41.790000,-87.590000,member
3,B03C0FE48C412214,electric_bike,2021-06-03 19:56:05,2021-06-03 20:21:55,NaN,NaN,NaN,NaN,41.780000,-87.580000,41.800000,-87.600000,member
4,B9EEA89F8FEE73B7,electric_bike,2021-06-04 14:05:51,2021-06-04 14:09:59,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.790000,-87.590000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
729590,CB282292CCFCE74F,electric_bike,2021-06-14 00:17:31,2021-06-14 00:56:46,Wells St & Polk St,SL-011,NaN,NaN,41.872412,-87.633715,41.880000,-87.620000,casual
729591,47BD346FAFB9BE6D,classic_bike,2021-06-30 17:35:10,2021-06-30 17:43:20,Clark St & Chicago Ave,13303,Kingsbury St & Kinzie St,KA1503000043,41.896750,-87.630890,41.889177,-87.638506,member
729592,52467C23D17C6AFE,classic_bike,2021-06-13 19:24:30,2021-06-13 19:34:11,Indiana Ave & 26th St,TA1307000005,State St & 19th St,SL-013,41.845687,-87.622481,41.856594,-87.627542,member
729593,7DF6D74420D7D9E6,electric_bike,2021-06-08 15:44:28,2021-06-08 16:15:01,Clark St & Chicago Ave,13303,NaN,NaN,41.896485,-87.630608,41.940000,-87.710000,member
729594,0C01F8BA99E512E5,electric_bike,2021-06-03 16:18:38,2021-06-03 16:47:49,Clark St & Chicago Ave,13303,NaN,NaN,41.896596,-87.630868,41.940000,-87.710000,member

In [4]:
#obtain the list of dataframe column ['started_at']
#Obtain the list of dataframe column ['ended_at']
#convert to datetime format 
#when a csv file is imported and a dataframe is made, datatime objects in the file
#are read as strings and difficult to perform operations such as time difference 

df_1['started_at']=pd.to_datetime(pd.Series(df_1['started_at']))
df_2['started_at']=pd.to_datetime(pd.Series(df_2['started_at']))
df_3['started_at']=pd.to_datetime(pd.Series(df_3['started_at']))
df_4['started_at']=pd.to_datetime(pd.Series(df_4['started_at']))
df_5['started_at']=pd.to_datetime(pd.Series(df_5['started_at']))
df_6['started_at']=pd.to_datetime(pd.Series(df_6['started_at']))
df_7['started_at']=pd.to_datetime(pd.Series(df_7['started_at']))
df_8['started_at']=pd.to_datetime(pd.Series(df_8['started_at']))
df_9['started_at']=pd.to_datetime(pd.Series(df_9['started_at']))
df_10['started_at']=pd.to_datetime(pd.Series(df_10['started_at']))
df_11['started_at']=pd.to_datetime(pd.Series(df_11['started_at']))
df_12['started_at']=pd.to_datetime(pd.Series(df_12['started_at']))

df_1['ended_at']=pd.to_datetime(pd.Series(df_1['ended_at']))
df_2['ended_at']=pd.to_datetime(pd.Series(df_2['ended_at']))
df_3['ended_at']=pd.to_datetime(pd.Series(df_3['ended_at']))
df_4['ended_at']=pd.to_datetime(pd.Series(df_4['ended_at']))
df_5['ended_at']=pd.to_datetime(pd.Series(df_5['ended_at']))
df_6['ended_at']=pd.to_datetime(pd.Series(df_6['ended_at']))
df_7['ended_at']=pd.to_datetime(pd.Series(df_7['ended_at']))
df_8['ended_at']=pd.to_datetime(pd.Series(df_8['ended_at']))
df_9['ended_at']=pd.to_datetime(pd.Series(df_9['ended_at']))
df_10['ended_at']=pd.to_datetime(pd.Series(df_10['ended_at']))
df_11['ended_at']=pd.to_datetime(pd.Series(df_11['ended_at']))
df_12['ended_at']=pd.to_datetime(pd.Series(df_12['ended_at']))

In [5]:
#subtract started_at from ended_at 

#find the ride_length on each dataframe 
df_1['ride_length']=df_1['ended_at']-df_1['started_at']
df_2['ride_length']=df_2['ended_at']-df_2['started_at']
df_3['ride_length']=df_3['ended_at']-df_3['started_at']
df_4['ride_length']=df_4['ended_at']-df_4['started_at']
df_5['ride_length']=df_5['ended_at']-df_5['started_at']
df_6['ride_length']=df_6['ended_at']-df_6['started_at']
df_7['ride_length']=df_7['ended_at']-df_7['started_at']
df_8['ride_length']=df_8['ended_at']-df_8['started_at']
df_9['ride_length']= df_9['ended_at']-df_9['started_at']
df_10['ride_length']=df_10['ended_at']-df_10['started_at']
df_11['ride_length']=df_11['ended_at']-df_11['started_at']
df_12['ride_length']=df_12['ended_at']-df_12['started_at']

In [6]:
#Monday = 0 
#Sunday = 6 
df_1['day_of_week']=df_1['started_at'].dt.dayofweek 
df_2['day_of_week']=df_2['started_at'].dt.dayofweek 
df_3['day_of_week']=df_3['started_at'].dt.dayofweek 
df_4['day_of_week']=df_4['started_at'].dt.dayofweek 
df_5['day_of_week']=df_5['started_at'].dt.dayofweek
df_6['day_of_week']=df_6['started_at'].dt.dayofweek 
df_7['day_of_week']=df_7['started_at'].dt.dayofweek 
df_8['day_of_week']=df_8['started_at'].dt.dayofweek 
df_9['day_of_week']=df_9['started_at'].dt.dayofweek 
df_10['day_of_week']=df_10['started_at'].dt.dayofweek 
df_11['day_of_week']=df_11['started_at'].dt.dayofweek
df_12['day_of_week']=df_12['started_at'].dt.dayofweek

In [7]:
#removing ride_lengths that have negative values 
df_1 = df_1[df_1['ride_length'] > '0 days']
df_2 = df_2[df_2['ride_length'] > '0 days']
df_3 = df_3[df_3['ride_length'] > '0 days']
df_4 = df_4[df_4['ride_length'] > '0 days']
df_5 = df_5[df_5['ride_length'] > '0 days']
df_6 = df_6[df_6['ride_length'] > '0 days']
df_7 = df_7[df_7['ride_length'] > '0 days']
df_8 = df_8[df_8['ride_length'] > '0 days']
df_9 = df_9[df_9['ride_length'] > '0 days']
df_10 = df_10[df_10['ride_length'] > '0 days']
df_11 = df_11[df_11['ride_length'] > '0 days']
df_12 = df_12[df_12['ride_length'] > '0 days']

# Analyze Phase 

###  Obtain the summary ride lengths from annual membership riders and casual riders 
- Which day(s) and month(s) do casual riders and annual membership riders prefer to cycle? 
- What's the average ride length of casual riders and annual membership riders? 
- What's the peak time of cycling for casual riders and annual membership riders? 
- Total number of ride lengths in each day of casual riders and annual membership riders?
- Favourite spot to ride? 

Once the questions above are answered, results are exported as a csv file to upload in Google Sheet to create data visualizations of the analyse phase.

In [8]:
#Members 
member_one = df_1[df_1['member_casual']=='member']
member_two = df_2[df_2['member_casual']=='member']
member_three = df_3[df_3['member_casual']=='member']
member_four = df_4[df_4['member_casual']=='member']
member_five = df_5[df_5['member_casual']=='member']
member_six = df_6[df_6['member_casual']=='member']
member_seven = df_7[df_7['member_casual']=='member']
member_eight = df_8[df_8['member_casual']=='member']
member_nine = df_9[df_9['member_casual']=='member']
member_ten = df_10[df_10['member_casual']=='member']
member_eleven = df_11[df_11['member_casual']=='member']
member_twelve = df_12[df_12['member_casual']=='member']

In [9]:
#Casual members 
casual_one = df_1[df_1['member_casual']=='casual']
casual_two = df_2[df_2['member_casual']=='casual']
casual_three = df_3[df_3['member_casual']=='casual']
casual_four = df_4[df_4['member_casual']=='casual']
casual_five = df_5[df_5['member_casual']=='casual']
casual_six = df_6[df_6['member_casual']=='casual']
casual_seven = df_7[df_7['member_casual']=='casual']
casual_eight = df_8[df_8['member_casual']=='casual']
casual_nine = df_9[df_9['member_casual']=='casual']
casual_ten = df_10[df_10['member_casual']=='casual']
casual_eleven = df_11[df_11['member_casual']=='casual']
casual_twelve = df_12[df_12['member_casual']=='casual']

In [10]:
#which day do casual users use cyclicstic the most? 
casual_one['day_of_week'].mode() #5
casual_two['day_of_week'].mode() #5
casual_three['day_of_week'].mode() #5
casual_four['day_of_week'].mode() #5
casual_five['day_of_week'].mode() #5
casual_six['day_of_week'].mode() #6
casual_seven['day_of_week'].mode() #5
casual_eight['day_of_week'].mode() #5
casual_nine['day_of_week'].mode() #5
casual_ten['day_of_week'].mode() #5
casual_eleven['day_of_week'].mode() #5
casual_twelve['day_of_week'].mode() #5

0    5
dtype: int64

In [11]:
member_one['day_of_week'].mode() #4
member_two['day_of_week'].mode() #5
member_three['day_of_week'].mode() #2
member_four['day_of_week'].mode() #3
member_five['day_of_week'].mode() #0
member_six['day_of_week'].mode() #2
member_seven['day_of_week'].mode() #4
member_eight['day_of_week'].mode() #2
member_nine['day_of_week'].mode() #1
member_ten['day_of_week'].mode() #4
member_eleven['day_of_week'].mode() #5
member_twelve['day_of_week'].mode() #2

0    2
dtype: int64

In [12]:
#Maximum,mean and total of ride_lengths per months from casual members 
r1=pd.DataFrame(casual_one['ride_length'].describe()[['count','mean']])
r2=pd.DataFrame(casual_two['ride_length'].describe()[['count','mean']])
r3=pd.DataFrame(casual_three['ride_length'].describe()[['count','mean']])
r4=pd.DataFrame(casual_four['ride_length'].describe()[['count','mean']])
r5=pd.DataFrame(casual_five['ride_length'].describe()[['count','mean']])
r6=pd.DataFrame(casual_six['ride_length'].describe()[['count','mean']])
r7=pd.DataFrame(casual_seven['ride_length'].describe()[['count','mean']])
r8=pd.DataFrame(casual_eight['ride_length'].describe()[['count','mean']])
r9=pd.DataFrame(casual_nine['ride_length'].describe()[['count','mean']])
r10=pd.DataFrame(casual_ten['ride_length'].describe()[['count','mean']])
r11=pd.DataFrame(casual_eleven['ride_length'].describe()[['count','mean']])
r12=pd.DataFrame(casual_twelve['ride_length'].describe()[['count','mean']])

#Renanimg column name into respective months 
r1=r1.rename(columns={"ride_length":"July-20"})
r2=r2.rename(columns={"ride_length":"Aug-20"})
r3=r3.rename(columns={"ride_length":"Sept-20"})
r4=r4.rename(columns={"ride_length":"Oct-20"})
r5=r5.rename(columns={"ride_length":"Nov-20"})
r6=r6.rename(columns={"ride_length":"Dec-20"})
r7=r7.rename(columns={"ride_length":"Jan-21"})
r8=r8.rename(columns={"ride_length":"Feb-21"})
r9=r9.rename(columns={"ride_length":"March-21"})
r10=r10.rename(columns={"ride_length":"Apr-21"})
r11=r11.rename(columns={"ride_length":"May-21"})
r12=r12.rename(columns={"ride_length":"June-21"})

casual_member = pd.concat([r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12],axis=1).transpose()
casual_member.style.set_caption("Average, maximum and total number of ride lengths by casual riders over 20/21 ")
casual_member.to_csv('summary_casualriders.csv')

In [13]:
#grouping by the day for casual members 
t1 = pd.DataFrame(casual_one.groupby(['day_of_week']).count()['member_casual'])
t2 = pd.DataFrame(casual_two.groupby(['day_of_week']).count()['member_casual'])
t3 = pd.DataFrame(casual_three.groupby(['day_of_week']).count()['member_casual'])
t4 = pd.DataFrame(casual_four.groupby(['day_of_week']).count()['member_casual'])
t5 = pd.DataFrame(casual_five.groupby(['day_of_week']).count()['member_casual'])
t6 = pd.DataFrame(casual_six.groupby(['day_of_week']).count()['member_casual'])
t7 = pd.DataFrame(casual_seven.groupby(['day_of_week']).count()['member_casual'])
t8 = pd.DataFrame(casual_eight.groupby(['day_of_week']).count()['member_casual'])
t9 = pd.DataFrame(casual_nine.groupby(['day_of_week']).count()['member_casual'])
t10 = pd.DataFrame(casual_ten.groupby(['day_of_week']).count()['member_casual'])
t11 = pd.DataFrame(casual_eleven.groupby(['day_of_week']).count()['member_casual'])
t12 = pd.DataFrame(casual_twelve.groupby(['day_of_week']).count()['member_casual'])

t1=t1.rename(columns={"member_casual":"July-20"})
t2=t2.rename(columns={"member_casual":"Aug-20"})
t3=t3.rename(columns={"member_casual":"Sept-20"})
t4=t4.rename(columns={"member_casual":"Oct-20"})
t5=t5.rename(columns={"member_casual":"Nov-20"})
t6=t6.rename(columns={"member_casual":"Dec-20"})
t7=t7.rename(columns={"member_casual":"Jan-21"})
t8=t8.rename(columns={"member_casual":"Feb-21"})
t9=t9.rename(columns={"member_casual":"March-21"})
t10=t10.rename(columns={"member_casual":"Apr-21"})
t11=t11.rename(columns={"member_casual":"May-21"})
t12=t12.rename(columns={"member_casual":"June-21"})

day_per_month= pd.concat([t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12],axis=1).transpose()
day_per_month.style.set_caption("Total number of ride lengths per day by casual riders over 20/21 ")

day_per_month.to_csv('days_casualriders.csv')

In [14]:
#members 
q1=pd.DataFrame(member_one['ride_length'].describe()[['count','mean']])
q2=pd.DataFrame(member_two['ride_length'].describe()[['count','mean']])
q3=pd.DataFrame(member_three['ride_length'].describe()[['count','mean']])
q4=pd.DataFrame(member_four['ride_length'].describe()[['count','mean']])
q5=pd.DataFrame(member_five['ride_length'].describe()[['count','mean']])
q6=pd.DataFrame(member_six['ride_length'].describe()[['count','mean']])
q7=pd.DataFrame(member_seven['ride_length'].describe()[['count','mean']])
q8=pd.DataFrame(member_eight['ride_length'].describe()[['count','mean']])
q9=pd.DataFrame(member_nine['ride_length'].describe()[['count','mean']])
q10=pd.DataFrame(member_ten['ride_length'].describe()[['count','mean']])
q11=pd.DataFrame(member_eleven['ride_length'].describe()[['count','mean']])
q12=pd.DataFrame(member_twelve['ride_length'].describe()[['count','mean']])


q1=q1.rename(columns={"ride_length":"July-20"})
q2=q2.rename(columns={"ride_length":"Aug-20"})
q3=q3.rename(columns={"ride_length":"Sept-20"})
q4=q4.rename(columns={"ride_length":"Oct-20"})
q5=q5.rename(columns={"ride_length":"Nov-20"})
q6=q6.rename(columns={"ride_length":"Dec-20"})
q7=q7.rename(columns={"ride_length":"Jan-21"})
q8=q8.rename(columns={"ride_length":"Feb-21"})
q9=q9.rename(columns={"ride_length":"March-21"})
q10=q10.rename(columns={"ride_length":"Apr-21"})
q11=q11.rename(columns={"ride_length":"May-21"})
q12=q12.rename(columns={"ride_length":"June-21"})

membership = pd.concat([q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12],axis=1)
membership.style.set_caption("Average, maximum and total number of ride lengths by membership riders over 20/21 ")
membership.to_csv('summary_membershipriders.csv')

In [15]:
#grouping by the day for members 
s1 = pd.DataFrame(member_one.groupby(['day_of_week']).count()['member_casual'])
s2 = pd.DataFrame(member_two.groupby(['day_of_week']).count()['member_casual'])
s3 = pd.DataFrame(member_three.groupby(['day_of_week']).count()['member_casual'])
s4 = pd.DataFrame(member_four.groupby(['day_of_week']).count()['member_casual'])
s5 = pd.DataFrame(member_five.groupby(['day_of_week']).count()['member_casual'])
s6 = pd.DataFrame(member_six.groupby(['day_of_week']).count()['member_casual'])
s7 = pd.DataFrame(member_seven.groupby(['day_of_week']).count()['member_casual'])
s8 = pd.DataFrame(member_eight.groupby(['day_of_week']).count()['member_casual'])
s9 = pd.DataFrame(member_nine.groupby(['day_of_week']).count()['member_casual'])
s10 = pd.DataFrame(member_ten.groupby(['day_of_week']).count()['member_casual'])
s11 = pd.DataFrame(member_eleven.groupby(['day_of_week']).count()['member_casual'])
s12 = pd.DataFrame(member_twelve.groupby(['day_of_week']).count()['member_casual'])

s1=s1.rename(columns={"member_casual":"July-20"})
s2=s2.rename(columns={"member_casual":"Aug-20"})
s3=s3.rename(columns={"member_casual":"Sept-20"})
s4=s4.rename(columns={"member_casual":"Oct-20"})
s5=s5.rename(columns={"member_casual":"Nov-20"})
s6=s6.rename(columns={"member_casual":"Dec-20"})
s7=s7.rename(columns={"member_casual":"Jan-21"})
s8=s8.rename(columns={"member_casual":"Feb-21"})
s9=s9.rename(columns={"member_casual":"March-21"})
s10=s10.rename(columns={"member_casual":"Apr-21"})
s11=s11.rename(columns={"member_casual":"May-21"})
s12=s12.rename(columns={"member_casual":"June-21"})

day_per_month_member= pd.concat([s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12],axis=1)
w=day_per_month_member.transpose()
w.style.set_caption("total number of ride length per day by membership riders over 20/21 ")
w.to_csv('days_member_riders.csv')

In [16]:
#mean of ride_length each day of casual members 
#discard the trailing decimals (format: 00:00:00)
n1 = pd.DataFrame(casual_one.groupby(['day_of_week']).describe()['ride_length']['mean'])
n2 = pd.DataFrame(casual_two.groupby(['day_of_week']).describe()['ride_length']['mean'])
n3 = pd.DataFrame(casual_three.groupby(['day_of_week']).describe()['ride_length']['mean'])
n4 = pd.DataFrame(casual_four.groupby(['day_of_week']).describe()['ride_length']['mean'])
n5 = pd.DataFrame(casual_five.groupby(['day_of_week']).describe()['ride_length']['mean'])
n6 = pd.DataFrame(casual_six.groupby(['day_of_week']).describe()['ride_length']['mean'])
n7 = pd.DataFrame(casual_seven.groupby(['day_of_week']).describe()['ride_length']['mean'])
n8 = pd.DataFrame(casual_eight.groupby(['day_of_week']).describe()['ride_length']['mean'])
n9 = pd.DataFrame(casual_nine.groupby(['day_of_week']).describe()['ride_length']['mean'])
n10 = pd.DataFrame(casual_ten.groupby(['day_of_week']).describe()['ride_length']['mean'])
n11 = pd.DataFrame(casual_eleven.groupby(['day_of_week']).describe()['ride_length']['mean'])
n12 = pd.DataFrame(casual_twelve.groupby(['day_of_week']).describe()['ride_length']['mean'])


#since none of the days have rides lasting more than 1 day, delete the "0 days"
n1 = n1['mean'].astype(str).str[6:15]
n2 = n2['mean'].astype(str).str[6:15]
n3 = n3['mean'].astype(str).str[6:15]
n4 = n4['mean'].astype(str).str[6:15]
n5 = n5['mean'].astype(str).str[6:15]
n6 = n6['mean'].astype(str).str[6:15]
n7 = n7['mean'].astype(str).str[6:15]
n8 = n8['mean'].astype(str).str[6:15]
n9 = n9['mean'].astype(str).str[6:15]
n10 = n10['mean'].astype(str).str[6:15]
n11 = n11['mean'].astype(str).str[6:15]
n12 = n12['mean'].astype(str).str[6:15]



mean_per_day_casual = pd.concat([n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12],axis=1)
mean_per_day_casual.columns = ['July-20','Aug-20','Sept-20','Oct-20','Nov-20','Dec-20','Jan-21','Feb-21',
                              'Mach-21','Apr-21','May-21','June-21']
b=mean_per_day_casual.transpose()
b.style.set_caption("Average ride lengths per day by casual riders over 20/21 ")
b.to_csv('days_average_casualriders.csv')

In [17]:
#mean of ride_length each day of members 
#discard the trailing decimals (format: 00:00:00)
k1 = pd.DataFrame(member_one.groupby(['day_of_week']).describe()['ride_length']['mean'])
k2 = pd.DataFrame(member_two.groupby(['day_of_week']).describe()['ride_length']['mean'])
k3 = pd.DataFrame(member_three.groupby(['day_of_week']).describe()['ride_length']['mean'])
k4 = pd.DataFrame(member_four.groupby(['day_of_week']).describe()['ride_length']['mean'])
k5 = pd.DataFrame(member_five.groupby(['day_of_week']).describe()['ride_length']['mean'])
k6 = pd.DataFrame(member_six.groupby(['day_of_week']).describe()['ride_length']['mean'])
k7 = pd.DataFrame(member_seven.groupby(['day_of_week']).describe()['ride_length']['mean'])
k8 = pd.DataFrame(member_eight.groupby(['day_of_week']).describe()['ride_length']['mean'])
k9 = pd.DataFrame(member_nine.groupby(['day_of_week']).describe()['ride_length']['mean'])
k10 = pd.DataFrame(member_ten.groupby(['day_of_week']).describe()['ride_length']['mean'])
k11 = pd.DataFrame(member_eleven.groupby(['day_of_week']).describe()['ride_length']['mean'])
k12 = pd.DataFrame(member_twelve.groupby(['day_of_week']).describe()['ride_length']['mean'])


k1 = k1['mean'].astype(str).str[6:15]
k2 = k2['mean'].astype(str).str[6:15]
k3 = k3['mean'].astype(str).str[6:15]
k4 = k4['mean'].astype(str).str[6:15]
k5 = k5['mean'].astype(str).str[6:15]
k6 = k6['mean'].astype(str).str[6:15]
k7 = k7['mean'].astype(str).str[6:15]
k8 = k8['mean'].astype(str).str[6:15]
k9 = k9['mean'].astype(str).str[6:15]
k10 = k10['mean'].astype(str).str[6:15]
k11 = k11['mean'].astype(str).str[6:15]
k12 = k12['mean'].astype(str).str[6:15]



mean_per_day_member = pd.concat([n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12],axis=1)
mean_per_day_member.columns = ['July-20','Aug-20','Sept-20','Oct-20','Nov-20','Dec-20','Jan-21','Feb-21',
                              'March-21','Apr-21','May-21','June-21']
a = mean_per_day_member.transpose()
a.style.set_caption("Average ride lengths per day by membership riders over 20/21 ")
a.to_csv('days_average_memberriders.csv')

member_one

In [18]:
g1=casual_one['start_station_name'].value_counts().head()
g2=casual_two['start_station_name'].value_counts().head()
g3=casual_three['start_station_name'].value_counts().head()
g4=casual_four['start_station_name'].value_counts().head()
g5=casual_five['start_station_name'].value_counts().head()
g6=casual_six['start_station_name'].value_counts().head()
g7=casual_seven['start_station_name'].value_counts().head()
g8=casual_eight['start_station_name'].value_counts().head()
g9=casual_nine['start_station_name'].value_counts().head()
g10=casual_ten['start_station_name'].value_counts().head()
g11=casual_eleven['start_station_name'].value_counts().head()
g12=casual_twelve['start_station_name'].value_counts().head()
famous_spot = pd.concat([g1,g2,g3,g4,g5,g6,g7,g8,g9,g10,g11,g12],axis=1)

famous_spot.columns = ['July-20','Aug-20','Sept-20','Oct-20','Nov-20','Dec-20','Jan-21','Feb-21',
                              'March-21','Apr-21','May-21','June-21']
famous_spot = famous_spot.transpose()
famous_spot = famous_spot.fillna(0)
casual_spot = famous_spot.max().sort_values(ascending=False)
casual_spot.to_csv('casual_spot.csv')

In [19]:
e1=member_one['start_station_name'].value_counts().head()
e2=member_two['start_station_name'].value_counts().head()
e3=member_three['start_station_name'].value_counts().head()
e4=member_four['start_station_name'].value_counts().head()
e5=member_five['start_station_name'].value_counts().head()
e6=member_six['start_station_name'].value_counts().head()
e7=member_seven['start_station_name'].value_counts().head()
e8=member_eight['start_station_name'].value_counts().head()
e9=member_nine['start_station_name'].value_counts().head()
e10=member_ten['start_station_name'].value_counts().head()
e11=member_eleven['start_station_name'].value_counts().head()
e12=member_twelve['start_station_name'].value_counts().head()
freq_spot = pd.concat([e1,e2,e3,e4,e5,e6,e7,e8,e9,e10,e11,e12],axis=1).transpose()
freq_spot.fillna(0)
member_spot = freq_spot.max().sort_values(ascending=False)
member_spot
member_spot.to_csv('member_spot.csv')

In [20]:
#create time interval of every one hour 
#count the number of casual riders 
#change the data type of 'started_at' to string to get the time only 
#sum and groupby the same time values 
c1 = pd.DataFrame(casual_one.resample('H',on ='started_at').member_casual.count())
c1 = c1.reset_index()
c1['started_at'] = c1['started_at'].astype(str).str[10:]
total1 = c1.groupby(['started_at']).sum()

c2 = pd.DataFrame(casual_two.resample('H',on ='started_at').member_casual.count())
c2 = c2.reset_index()
c2['started_at'] = c2['started_at'].astype(str).str[10:]
total2 = c2.groupby(['started_at']).sum()


c3 = pd.DataFrame(casual_three.resample('H',on ='started_at').member_casual.count())
c3 = c3.reset_index()
c3['started_at'] = c3['started_at'].astype(str).str[10:]
total3 = c3.groupby(['started_at']).sum()

c4 = pd.DataFrame(casual_four.resample('H',on ='started_at').member_casual.count())
c4 = c4.reset_index()
c4['started_at'] = c4['started_at'].astype(str).str[10:]
total4 = c4.groupby(['started_at']).sum()


c5 = pd.DataFrame(casual_five.resample('H',on ='started_at').member_casual.count())
c5 = c5.reset_index()
c5['started_at'] = c5['started_at'].astype(str).str[10:]
total5 = c5.groupby(['started_at']).sum()

c6 = pd.DataFrame(casual_six.resample('H',on ='started_at').member_casual.count())
c6 = c6.reset_index()
c6['started_at'] = c6['started_at'].astype(str).str[10:]
total6 = c6.groupby(['started_at']).sum()


c7 = pd.DataFrame(casual_seven.resample('H',on ='started_at').member_casual.count())
c7 = c7.reset_index()
c7['started_at'] = c7['started_at'].astype(str).str[10:]
total7 = c7.groupby(['started_at']).sum()

c8 = pd.DataFrame(casual_eight.resample('H',on ='started_at').member_casual.count())
c8 = c8.reset_index()
c8['started_at'] = c8['started_at'].astype(str).str[10:]
total8 = c8.groupby(['started_at']).sum()


c9 = pd.DataFrame(casual_nine.resample('H',on ='started_at').member_casual.count())
c9 = c9.reset_index()
c9['started_at'] = c9['started_at'].astype(str).str[10:]
total9 = c9.groupby(['started_at']).sum()


c10 = pd.DataFrame(casual_ten.resample('H',on ='started_at').member_casual.count())
c10 = c10.reset_index()
c10['started_at'] = c10['started_at'].astype(str).str[10:]
total10 = c10.groupby(['started_at']).sum()


c11 = pd.DataFrame(casual_eleven.resample('H',on ='started_at').member_casual.count())
c11 = c11.reset_index()
c11['started_at'] = c11['started_at'].astype(str).str[10:]
total11 = c11.groupby(['started_at']).sum()


c12 = pd.DataFrame(casual_twelve.resample('H',on ='started_at').member_casual.count())
c12 = c12.reset_index()
c12['started_at'] = c12['started_at'].astype(str).str[10:]
total12 = c12.groupby(['started_at']).sum()

time_casual = pd.concat([total1,total2,total3,total4,total5,total6,total7,total8,total9,total10,total11,total12])
time_casual = time_casual.reset_index()
casual_cycling = time_casual.groupby(['started_at']).sum()
casual_cycling.to_csv('casual_cycling_time.csv')

In [21]:
p1 = pd.DataFrame(member_one.resample('H',on ='started_at').member_casual.count())
p1 = p1.reset_index()
p1['started_at'] = p1['started_at'].astype(str).str[10:]
summ1 = p1.groupby(['started_at']).sum()

p2 = pd.DataFrame(member_two.resample('H',on ='started_at').member_casual.count())
p2 = p2.reset_index()
p2['started_at'] = p2['started_at'].astype(str).str[10:]
summ2 = p2.groupby(['started_at']).sum()


p3 = pd.DataFrame(member_three.resample('H',on ='started_at').member_casual.count())
p3 = p3.reset_index()
p3['started_at'] =p3['started_at'].astype(str).str[10:]
summ3 = p3.groupby(['started_at']).sum()

p4 = pd.DataFrame(member_four.resample('H',on ='started_at').member_casual.count())
p4 = p4.reset_index()
p4['started_at'] = p4['started_at'].astype(str).str[10:]
summ4 = p4.groupby(['started_at']).sum()


p5 = pd.DataFrame(member_five.resample('H',on ='started_at').member_casual.count())
p5 = p5.reset_index()
p5['started_at'] = p5['started_at'].astype(str).str[10:]
summ5 = p5.groupby(['started_at']).sum()

p6 = pd.DataFrame(member_six.resample('H',on ='started_at').member_casual.count())
p6 = p6.reset_index()
p6['started_at'] = p6['started_at'].astype(str).str[10:]
summ6 = p6.groupby(['started_at']).sum()


p7 = pd.DataFrame(member_seven.resample('H',on ='started_at').member_casual.count())
p7 = p7.reset_index()
p7['started_at'] = p7['started_at'].astype(str).str[10:]
summ7 = p7.groupby(['started_at']).sum()

p8 = pd.DataFrame(member_eight.resample('H',on ='started_at').member_casual.count())
p8 = p8.reset_index()
p8['started_at'] = p8['started_at'].astype(str).str[10:]
summ8 = p8.groupby(['started_at']).sum()


p9 = pd.DataFrame(member_nine.resample('H',on ='started_at').member_casual.count())
p9 = p9.reset_index()
p9['started_at'] = p9['started_at'].astype(str).str[10:]
summ9 = p9.groupby(['started_at']).sum()


p10 = pd.DataFrame(casual_ten.resample('H',on ='started_at').member_casual.count())
p10 = p10.reset_index()
p10['started_at'] = p10['started_at'].astype(str).str[10:]
summ10 = p10.groupby(['started_at']).sum()


p11 = pd.DataFrame(member_eleven.resample('H',on ='started_at').member_casual.count())
p11 = p11.reset_index()
p11['started_at'] = p11['started_at'].astype(str).str[10:]
summ11 = p11.groupby(['started_at']).sum()


p12 = pd.DataFrame(member_twelve.resample('H',on ='started_at').member_casual.count())
p12 = p12.reset_index()
p12['started_at'] = p12['started_at'].astype(str).str[10:]
summ12 = p12.groupby(['started_at']).sum()

time_member = pd.concat([summ1,summ2,summ3,summ4,summ5,summ6,summ7,summ8,summ9,summ10,summ11,summ12])
time_member = time_member.reset_index()
member_cycling = time_member.groupby(['started_at']).sum()
member_cycling.to_csv('member_cycling_time.csv')