<a href="https://colab.research.google.com/github/actclara/Data-Analyst-Portfolio-/blob/main/SQLite_DB_DatSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STEP 1: CREATE the SQLite database;**

We need to import the sqlite3 module and create the database and tables.  You'll see this follows the syntax we have used on previous weeks.

In [5]:
import sqlite3

#This statement creates a connection labelled as conn.  This will be used throughout to ensure the consistency for when we start to query the database tables.
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE olist_customers (
    customer_id VARCHAR(32) PRIMARY KEY,
    customer_unique_id VARCHAR(32),
    customer_zip_code_prefix INT,
    customer_city VARCHAR(255),
    customer_state VARCHAR(2)
);
''')

cursor.execute('''
CREATE TABLE olist_geolocation (
    geolocation_zip_code_prefix INT,
    geolocation_lat FLOAT,
    geolocation_lng FLOAT,
    geolocation_city VARCHAR(255),
    geolocation_state VARCHAR(2)
);
''')

cursor.execute('''
CREATE TABLE olist_order_items (
    order_id VARCHAR(32),
    order_item_id INT,
    product_id VARCHAR(32),
    seller_id VARCHAR(32),
    shipping_limit_date DATETIME,
    price FLOAT,
    freight_value FLOAT,
    PRIMARY KEY (order_id, order_item_id)
);
''')

cursor.execute('''
CREATE TABLE olist_order_payments (
    order_id VARCHAR(32),
    payment_sequential INT,
    payment_type VARCHAR(50),
    payment_installments INT,
    payment_value FLOAT,
    PRIMARY KEY (order_id, payment_sequential)
);
''')

cursor.execute('''
CREATE TABLE olist_order_reviews (
    review_id VARCHAR(32) PRIMARY KEY,
    order_id VARCHAR(32),
    review_score INT,
    review_comment_title TEXT,
    review_comment_message TEXT,
    review_creation_date DATETIME,
    review_answer_timestamp DATETIME
);
''')

cursor.execute('''
CREATE TABLE olist_orders (
    order_id VARCHAR(32) PRIMARY KEY,
    customer_id VARCHAR(32),
    order_status VARCHAR(50),
    order_purchase_timestamp DATETIME,
    order_approved_at DATETIME,
    order_delivered_carrier_date DATETIME,
    order_delivered_customer_date DATETIME,
    order_estimated_delivery_date DATETIME
);
''')

cursor.execute('''
CREATE TABLE olist_products (
    product_id VARCHAR(32) PRIMARY KEY,
    product_category_name VARCHAR(255),
    product_name_lenght FLOAT,
    product_description_lenght FLOAT,
    product_photos_qty FLOAT,
    product_weight_g FLOAT,
    product_length_cm FLOAT,
    product_height_cm FLOAT,
    product_width_cm FLOAT
);
''')

cursor.execute('''
CREATE TABLE olist_sellers (
    seller_id VARCHAR(32) PRIMARY KEY,
    seller_zip_code_prefix INT,
    seller_city VARCHAR(255),
    seller_state VARCHAR(2)
);
''')

cursor.execute('''
CREATE TABLE product_category_translation (
    product_category_name VARCHAR(255) PRIMARY KEY,
    product_category_name_english VARCHAR(255)
);
''')

#This saves the chnages to the databae.  Up unitl this point the executed SQL statement isn't stored, changes are not immediatley saved.
conn.commit()

print("Database and tables created successfully!")

OperationalError: table olist_customers already exists

**STEP 2: Check Tables Created:**

Run the command to show the database tables created and the structure.

In [6]:

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table_name in tables:
    print(f"Table: {table_name[0]}")
    cursor.execute(f"PRAGMA table_info({table_name[0]});")
    columns = cursor.fetchall()
    for col in columns:
        print(f"  Column: {col[1]}, Type: {col[2]}, NotNull: {col[3]}, DefaultVal: {col[4]}, PrimaryKey: {col[5]}")
    print("-" * 20)

Table: olist_customers
  Column: customer_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: customer_unique_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: customer_zip_code_prefix, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: customer_city, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: customer_state, Type: VARCHAR(2), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_geolocation
  Column: geolocation_zip_code_prefix, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_lat, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_lng, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_city, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: geolocation_state, Type: VARCHAR(2), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_order_items
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: order_item_id, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 2
  Column: product_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: seller_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: shipping_limit_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: price, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: freight_value, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_order_payments
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: payment_sequential, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 2
  Column: payment_type, Type: VARCHAR(50), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: payment_installments, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: payment_value, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_order_reviews
  Column: review_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_score, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_comment_title, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_comment_message, Type: TEXT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_creation_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: review_answer_timestamp, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_orders
  Column: order_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: customer_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_status, Type: VARCHAR(50), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_purchase_timestamp, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_approved_at, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_delivered_carrier_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_delivered_customer_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: order_estimated_delivery_date, Type: DATETIME, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_products
  Column: product_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: product_category_name, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_name_lenght, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_description_lenght, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_photos_qty, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_weight_g, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_length_cm, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_height_cm, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: product_width_cm, Type: FLOAT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: olist_sellers
  Column: seller_id, Type: VARCHAR(32), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: seller_zip_code_prefix, Type: INT, NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: seller_city, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
  Column: seller_state, Type: VARCHAR(2), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------
Table: product_category_translation
  Column: product_category_name, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 1
  Column: product_category_name_english, Type: VARCHAR(255), NotNull: 0, DefaultVal: None, PrimaryKey: 0
--------------------

**STEP 3: Upload Files:**

Run this box multiple times to upload the relevant csv files. Or drag the files across to the Files window from your desktop.

In [7]:


from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

**STEP 4: Load CSV files into the database tables:**

This will populate the database tables with the data from the csv files.  No need to write INSERT statements.

You need to make sure the correct files are loaded into the corresponding tables.

In [9]:
import csv

def import_csv_to_table(csv_file, table_name):
    #opens the file aas read only 'r', doesn't allow the origianl csv to be changed.
    with open(csv_file, 'r', encoding='utf-8') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)  # Skip header row if present
        for row in csv_reader:
            #? creates a placeholder for each column in the CSV file. ['?','?','?'] - Join makes it a string so it can then be inserted.
            # use of the '?' reduce risk of SQL injection
            placeholders = ', '.join(['?' for _ in row])
            #Assumes that the CSV and table have the same structure (this could be an issue) Would have to specify column names if different.
            sql = f"INSERT INTO {table_name} VALUES ({placeholders})"
            cursor.execute(sql, row)

# Import data from CSV files into the relevant table - Student_Table goes into student table.  teh import_csv_to_table is the function, passing the two values across.
try:
    import_csv_to_table('olist_customers_dataset.csv', 'olist_customers')
    import_csv_to_table('olist_geolocation_dataset.csv', 'olist_geolocation')
    import_csv_to_table('olist_order_items_dataset.csv', 'olist_order_items')
    import_csv_to_table('olist_order_payments_dataset.csv', 'olist_order_payments')
    import_csv_to_table('olist_orders_dataset.csv', 'olist_orders')
    import_csv_to_table('olist_products_dataset.csv', 'olist_products')
    import_csv_to_table('olist_sellers_dataset.csv', 'olist_sellers')
    import_csv_to_table('product_category_name_translation.csv', 'product_category_translation')
    conn.commit()
    print("Data imported successfully!")
except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()  # Rollback changes if an error occurred

An error occurred: UNIQUE constraint failed: olist_customers.customer_id

**STEP 5: Check Data has loaded**

Query each database table and load the data into a dataframe and display the first 5 lines

In [2]:
import pandas as pd
# Query all three tables and load into pandas DataFrames
customers_df = pd.read_sql_query("SELECT * FROM olist_customers", conn)
location_df = pd.read_sql_query("SELECT * FROM olist_geolocation", conn)
orderItems_df = pd.read_sql_query("SELECT * FROM olist_order_items", conn)

#add in the other tables


# Show the first 5 lines of each DataFrame
print("Customers Table:")
print(customers_df.head(5))
print("\nLocations Table:")
print(location_df.head(5))
print("\nOrder Itmes Table:")
print(orderItems_df.head(5))

NameError: name 'conn' is not defined

**ONLY RUN IF YOU NEED TO DELETE THE DATA IN THE TABLES**

If you run go back to **STEP 4** and re-run from there.

In [1]:
# only run if you need to reset the tables without deleting the databae and starting again - then re-run the box previous box.
# Delete all data from the tables
cursor.execute("PRAGMA foreign_keys = OFF")
cursor.execute("DELETE FROM olist_customers")
cursor.execute("DELETE FROM olist_geolocation")
cursor.execute("DELETE FROM olist_order_items")
cursor.execute("DELETE FROM olist_order_payments")
cursor.execute("DELETE FROM olist_order_reviews")
cursor.execute("DELETE FROM olist_orders")
cursor.execute("DELETE FROM olist_products")
cursor.execute("DELETE FROM olist_sellers")
cursor.execute("DELETE FROM product_category_translation")
cursor.execute("PRAGMA foreign_keys = ON")

# Commit the changes
conn.commit()

conn.commit()
print("Database Deleted - restart.")

NameError: name 'cursor' is not defined

**STEP 6: SQL Select statements**

Run the following statements.  Please ask yoursefl the impact of each one before running.

In [28]:
#analyse the customer list. Think about how many customer, do they have duplicate names, take a look at the  data and bring some insight.

num_customers = pd.read_sql_query(
    """
select
  count(*)
from olist_customers
    """,conn
)

num_distinct_customers = pd.read_sql_query(
    """
select
  distinct(count(*) )
from olist_customers
    """,conn
)


customers_per_city = pd.read_sql_query(
    """
select
  customer_city
  ,count(*) as number_cust
from
  olist_customers
group by 1
order by 2 desc
    """,conn
)

customers_per_city

       customer_city  number_cust
0          sao paulo        15540
1     rio de janeiro         6882
2     belo horizonte         2773
3           brasilia         2131
4           curitiba         1521
...              ...          ...
4114         acucena            1
4115           acari            1
4116       acajutiba            1
4117   abdon batista            1
4118       abadiania            1

[4119 rows x 2 columns]

In [ ]:
#show number and value of orders for each customer

#olist_geolocation
#olist_order_items
#olist_order_payments
#olist_order_reviews
#olist_orders
#olist_products
#olist_sellers
#product_category_translation

customers_per_city = pd.read_sql_query(
    """
select
  *
from
  olist_customers
  ,olist_order_items
  ,olist_orders
    """,conn
)

In [ ]:
#where do the customers come from - location

In [22]:
#look at which sellers are selling the most items


#import_csv_to_table('olist_customers_dataset.csv', 'olist_customers')
#mport_csv_to_table('olist_geolocation_dataset.csv', 'olist_geolocation')
#import_csv_to_table('olist_order_items_dataset.csv', 'olist_order_items')
#import_csv_to_table('olist_order_payments_dataset.csv', 'olist_order_payments')
#import_csv_to_table('olist_orders_dataset.csv', 'olist_orders')
#import_csv_to_table('olist_products_dataset.csv', 'olist_products')
#import_csv_to_table('olist_sellers_dataset.csv', 'olist_sellers')
  #import_csv_to_table('product_category_name_translation.csv', 'product_category_translation')


pd.read_sql_query("""
select
  olist_sellers.seller_id
  ,count(*) as count_orders
  ,sum(price) as total_price
from
  olist_sellers
  ,olist_order_items
  where olist_sellers.seller_id = olist_order_items.seller_id
  group by 1
  order by avg(2) desc
    """,conn)

                             seller_id  count_orders  total_price
0     ffff564a4f9085cd26170f4732393726            20      1426.30
1     fffd5413c0700ac820c7069d66d98c89            61      9062.30
2     ffeee66ac5d5a62fe688b9d26f83f534            14      1839.86
3     ffdd9f82b9a447f6f8d4b91554cc7dd3            20      2101.20
4     ffcfefa19b08742c5d315f2791395ee5             1        69.90
...                                ...           ...          ...
3090  003554e2dce176b5555353e4f3555ac8             1       120.00
3091  002100f778ceb8431b7a1020ff7ab48f            55      1234.50
3092  001e6ad469a905060d959994f1b41e4f             1       250.00
3093  001cca7ae9ae17fb1caed9dfb1094831           239     25080.03
3094  0015a82c2db000af6aaaf3ae2ecb0532             3      2685.00

[3095 rows x 3 columns]

In [1]:
#take a customer that has the most orders and pull out all the individual order items - is there any consistency - are they buying form the same categories every time.


pd.read_sql_query(
                 """
                 select
                 *
                 from
                 olist_customers
                 ,olist_orders_
                 ,olist_orders
                 where olist_customers.customer_id = olist_orders.customer_id
                 and olist_orders.order_id = olist_orders_.order_id



                 """
                 ,conn
)

NameError: name 'pd' is not defined

In [ ]:
#How are customers paying - which payment methods are used the most

In [ ]:
#Which payment method generates the most income for the business

In [ ]:
#if possible, look at the payment methods and location - Identify the area that spends the highest amount - you could look at hteh product categories as well.

In [ ]:
#What's the range of orders, the min and the max

In [ ]:
#What's the average order spend in the categories - show the category name in English